<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Doon Sketch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>InkDraw - a Vector Graphics Editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Inkscape X.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Inkscape.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>inkDraw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E11DDA3F19A841B500749D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11DDA6019A841B500749D45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15B557F1A148C3A003C8262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15B55911A148C3B003C8262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15B566A1A148D97003C8262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E15B56821A148D97003C8262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1725DA419B1B77200029A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1725DBE19B1B77200029A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1725DD719B1B88F00029A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E17D744D1AC25BB6005F544A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E17D745F1AC25BB7005F544A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E198595119C7150E00FF934E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E198596B19C7150E00FF934E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1AEAD6C1A52C7F90026F5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1AEAD841A52C7FA0026F5D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7B3319C431BE00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7B5019C431BE00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7B8619C5329C00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7BA319C5329C00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7BE119C5352C00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7BFE19C5352C00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7CB619C59AE300BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7CD019C59AE400BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7CE719C59B0B00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1DE7D0419C59B0B00BDDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
